# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
**/.env
**/.env.*
!.env.example

# Node
api/node_modules/
api/dist/

# Flutter / Dart
app/.dart_tool/
app/build/
app/.packages
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.metadata
app/android/app/google-services.json

# Android / iOS generated
app/android/.gradle/
app/android/app/debug/
app/android/app/profile/
app/android/app/release/
app/ios/Pods/
app/ios/.symlinks/
app/macos/Pods/
app/linux/flutter/ephemeral/
app/windows/flutter/ephemeral/

# Logs
*.log